table {
    width: 50%;
  }


  .mat-table tr:nth-child(even){
    background-color: transparent
  }
.applications-header{
  text-align: center;
}

.applications-content{
  text-align: center;
}

  .table-sub-list{
    padding-left: 35px;
    max-width: 50%;
    padding-bottom: 10px;
  }

  .table-sub-list td{
    border-bottom-color: transparent;
  }
  
.select-box{
  width: 20px;
}

  tr.example-detail-row {
    height: 0;
  }
  

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mat-expansion-panel-header {
    flex-direction: row-reverse;
  
    
  }

  .mat-expansion-panel-header .mat-content {
    padding-left: 12px;
  }

  mat-panel-title mat-checkbox{
    margin-right: 12px;
  }
  mat-panel-title{
    padding-left: 12px;
  }

  .test-expansion{
    margin-top: 20px;
  }
  

  .icons-holder{
    display: flex;
    align-items: center;
    justify-content: center;
  }

